html {
  box-sizing: border-box;
  color: #512200;
  background-color: #f0eee8;
  font-family: Georgia, sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h2 {
  font-family: "Dosis", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: #512200;
  padding: 0 .2em;
  margin: 0;
}

.link-card {
  border: 0;
  background-color: #dcd4cd;
  border-width: 3px;
  border-style: solid;
  border-radius: 8px;
  border-color: #9a816d;
  margin: 0;
  padding: .5em;
}

div {
  margin: .4em;
}

p {
  padding: 0 .2em;
}

dl {
  display: inline-block;
  font-size: .875rem;
}

dt {
  display: inline-block;
  width: 45%;
}

dd {
  display: inline-block;
  margin: 0;
  width: 45%;
  font-style: italic;
}

.learn {
  font-size: 1.125rem;
  color: #fff;
  background-color: #785439;
  border-radius: 8px;
  border-width: 3px;
  text-decoration: none;
  display: inline-block;
  padding: .5em;
  font-family: "Dosis", sans-serif;
  font-weight: bold;
  margin: .5em;
}

.line {
  border-bottom: solid 2px #9a816d;
}

.btn {
  text-align: center;
}

.link-card:hover {

}

.link-card h2 {

}
